.Select-clear-zone {
    display: none;
}

.option-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    align-content: center;
    padding-left: 6px;
    .title {
        color:#565656;
        margin-right: 5px;
        font-weight: 600;

    }
    .company-name {
        color: #635c8a;
        font-size: 12px;
    }
}
