.template-container-new {
    margin: 1px 0 0 0;
    display: flex;
    color: #F4F4F4;
    .template-header {
        font-size: 15px;
        background-color: #07ADD7;
        // background-color: #a9e6f6;
        // background-color: #4ca3bd;
        color: #fff;
        padding: 12px;
        text-align: right;
        font-weight: 600;
        .scope-planning-header {
            display: flex;
            justify-content: space-around;
        }
        .editable-header-input {
            background: transparent;
            border: 0;
            border-bottom: 1px solid white;
            width: 67px;
            text-align: center;
            cursor: pointer;
        }
        
    }
    .clickable-button-header-grey{
        background-color: #c2c2c2;
        cursor: pointer;
    }
    .clickable-button-header {
        cursor: pointer;
    }
    .step-container {
        .custom-step {
            font-size: 16px;
            text-align: center;
            font-weight: 600;
            height: 45px;
            padding: 0 13px;
            &:first-child {
                border-radius: 0;
                border-left: 0;
            }
            &:last-child {
                border-radius: 0;
                border-right: 0;
            }
            .ant-select {
                width: 100%;
                overflow: hidden;
                .ant-select-selection {
                    min-height: 20px;
                    .ant-select-selection__rendered {
                        height: 20px;
                        margin-left: 3px;
                        margin-bottom: 0;
                        ul {
                            display: flex;
                            width: 100px;
                            overflow: hidden;
                            border: 0;
                            li {
                                overflow: initial;
                            }
                        }
                        .ant-select-selection__choice {
                            height: 18px;
                            line-height: 18px;
                        }
                    }
                }
            }
            .custom-span {
                display: flex;
            }
            .custom-editable-span {
                font-weight: 700;
                width: 100px;
            }
            .custom-input {
                background: transparent;
                border: 0;
                border-bottom: 1px solid white;
                width: 67px;
                text-align: center;
            }
        }
        .step-complete {
            background-color: #8CC341 !important;
            // background-color: #a8cf72 !important;
            color: #000 !important;
            &::after {
                background-color: #8CC341 !important;
                // background-color: #FF8C00 !important;
                // background-color: #a8cf72 !important;
            }
        }
        .step-incomplete {
            background-color: #DB2828 !important;
            // background-color: #dc7575 !important;
            // background-color: #d16060 !important;
            color: #fff !important;
            &::after {
                // background-color: #FF8C00 !important;
                // background-color: #dc7575 !important;
                // background-color: #d16060 !important;
                background-color: #DB2828 !important
            }
        }
        .step-on-hold {
            // background-color: #FF8C00 !important;
            background-color: #f5b668 !important;
            color: #000 !important;
            &::after {
                // background-color: #FF8C00 !important;
                background-color: #f5b668 !important;
            }
        } // .step-clickable {
        //     cursor: pointer;
        // }
        .description {
            color: #333 !important;
            font-weight: 600;
        }
    }
}
