.ui.fullscreen.modal.task-page-container {
    >.header {
        // background: #3cadd7 !important;
        background: #07ADD7 !important;
        color: #fcfcfc;
        h4 {
            color: #fcfcfc;
        }
    }
    >.content {
        overflow: auto;
        height: 90vh;
        line-height: 1;
        background: #f5f5f5;
        .team-layout {
            margin-bottom: 16px;
            display: flex;
            .title {
                font-size: 20px;
                line-height: 20px;
            }
            .member-section {
                display: flex;
                div {
                    padding: 10px 5px;
                }
                img {
                    margin-left: 1em;
                    margin-top: -2px;
                }
            }
        }
        .accordion.project-detail-layout {
            border-radius: 4px;
            margin-bottom: 16px;
            padding: 12px 24px;
            box-shadow: 0 1px 3.92px 0.08px rgba(0,0,0,.15);
            background: #fff;
            .title-border-bottom {
                border-bottom: 0;
                .ant-row-flex {
                    margin-bottom: 0 !important;
                    .ant-col-22 {
                        flex: 1;
                    }
                }
            }
        }
        .milestone-container {
            border-radius: 4px;
            margin-bottom: 16px;
            padding: 12px 24px;
            box-shadow: 0 1px 3.92px 0.08px rgba(0,0,0,.15);
            background: #fff;
            .milestone-wrapper {
                display: flex;
                flex-direction: column;
                .milestone-group {
                    // margin: 5px 0;
                }
            }
            button span{
                margin-right: 5px;
            }
        }
        .table-section {
            height: 416px;
            margin-bottom: 20px;
            border-radius: 4px;
            padding: 24px;
            box-shadow: 0 1px 3.92px 0.08px rgba(0,0,0,.15);
            background: #fff;
            > div {
                height: 89%;
            }
            >div:nth-child(2) {
                padding: 0 20px;
            }
        }
        .tag-container-section {
            border-radius: 4px;
            padding: 24px;
            margin-bottom: 20px;
            box-shadow: 0 1px 3.92px 0.08px rgba(0,0,0,.15);
            background: #fff;
            .title-section {
                margin-bottom: 20px;
                font-size: 20px;
            }
        }
        .attachment-row {
            padding: 0;
            .content-section {
                background: #fff;
                border-radius: 4px;
                padding: 24px;
                box-shadow: 0 1px 3.92px 0.08px rgba(0,0,0,.15);
                .comments {
                    max-width: 100% !important;
                }
            }
        }
    }
    >.close {
        color: white;
    }
    .ui.loader::before {
        border-color: #3cadd7;
    }
    .ui.loader {
        color: #3cadd7;
        font-size: 15px;
    }
    .ag-root-wrapper {
        width: 100%;
        margin-top: 10px !important;
        box-shadow: 0 1px 3.92px 0.08px rgba(0,0,0,.15);
        border-radius: 4px;
        .ag-react-container p {
            line-height: 38px;
        }
    }
}
.restore-btn {
    background-color:  #E10000;
    color: white
    // color: 'white'
}
.archived-modal-body {
    overflow: auto;
    max-height: 400px;
}
.archived-modal-row {
    display: flex;
    margin-top: 15px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
.width-33{
    width: 33%
}
.archived-modal-header {
    cursor: auto;
    color: rgba(0,0,0,.87);
    font-weight: 700;
}
.border-bottom {
    border-bottom: 1px solid #d9d9d9;
}
.color-primary{
    // color: #19A3DA
    color: #07ADD7
}
