.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.padding5 {
    padding: 5px !important;
}

.margin-right20 {
    margin-right: 20px;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-bottom5 {
    margin-bottom: 5px;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.text-ellipsis {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.helptext {
    text-align: center;
    font-size: 16px;
    color: $helptext;
    padding: 20px;
}
