.filter-header-container {
    -webkit-box-shadow: 0 1px 3.92px 0.08px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 3.92px 0.08px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3.92px 0.08px rgba(0, 0, 0, 0.15);  
    .header-content-container {       
        .ant-collapse-content {
            overflow: unset;
            padding: 20px 5px;
            padding-bottom: 20px;
            border-top: 0
        }
        .ant-collapse-header {
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 2px;
            border: 0;
            padding: 10px 0 10px 40px;
            border-radius: 0;
            background: #fff;
            display: flex;
            justify-content: space-between;
        }
        .ant-collapse-content-box {
            padding: 4px 20px 33px 20px;
        }
    }
    .footer-buttons{
        margin-top: 10px;
    }
}   

.ant-select-dropdown {
    width: 130px !important;
}
