.width-33-per {
    width: 33%
}
.timesheet-highlight-red {
    background-color:#ffc5a4 !important;
}
.timesheet-highlight-red:hover {
    background-color: #ffc5a4 !important;
}
.timesheet-highlight-yellow {
    background-color: #ffed94 !important;
}
.timesheet-highlight-yellow:hover {
    background-color: #ffed94 !important;
}
.timesheet-highlight-default {
    background-color:'none' !important;
}
.cursor-pointer{
    cursor: pointer;
}
.view-edit-container{
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.highlight-information{
    padding: 5px;
    border: 1px solid #dad5d5;
    border-radius: 66px;
    height: 20px;
    margin-left: 4px;
    width: 20px;
}
.red-highlighter{
    background-color: #ffc5a4;
}
.yellow-highlighter{
    background-color: #ffed94;
}
.default-highlighter{
    background-color: rgb(255, 255, 255);
}
.highlight-information-container{    
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px
}
.total-row {
    height: 38px;
    align-content: center;
    background-color: #d9eab280;
    align-items: center;
    display: flex;
    color: #475d86;
}
.total-row-font{
    font-weight: 700;
    font-size: 14px;
    font-size: 1em;
}
label.cursor-pointer {
    margin: unset !important;
}
