.adminPage-group-table {
    border-collapse: collapse;
    width: 100%;
}

.adminPage-group-table tr {
    height: 36px;
    cursor: pointer;
}

.adminPage-group-table th {
    cursor: pointer;
}

.adminPage-group-table tr th {
    text-align: center;
    padding: 8px;
    background-color: #000;
    color: #fff;
    height: 36px;
    max-width: 75px;
}

.adminPage-group-table tr td {
    text-align: center;
    max-width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
}
.adminPage-group-table tr th:nth-child(1) {
    width: 7%;
}

.adminPage-group-table tr td:nth-child(1) {
    width: 7%;
}

.adminPage-group-table tr th:nth-child(2) {
    width: 15%;
}

.adminPage-group-table tr td:nth-child(2) {
    overflow: hidden;
    width: 15%;
}

.adminPage-group-table tr th:nth-child(3) {
    width: 7%;
}

.adminPage-group-table tr td:nth-child(3) {
    width: 7%;
}

.adminPage-group-table tr th:nth-child(4) {
    width: 12%;
    padding-right: 0;
}

.adminPage-group-table tr td:nth-child(4) {
    width: 13%;
    padding-right: 0;
}

.adminPage-group-table tr th:nth-child(5) {
    width: 6%;
}

.adminPage-group-table tr td:nth-child(5) {
    overflow: hidden;
    width: 5%;
}

.adminPage-group-table tr th:nth-child(6) {
    width: 5%;
}

.adminPage-group-table tr td:nth-child(6) {
    width: 6%;
}

.adminPage-group-table tr th:nth-child(7) {
    width: 6%;
}

.adminPage-group-table tr td:nth-child(7) {
    width: 5%;
}

.adminPage-group-table tr td:nth-child(8) {
    overflow: visible;
    width: 5%;
}

.adminPage-group-table tr td:nth-child(9) {
    // width: 4%;
    overflow: visible !important;
}


.adminPage-group-table tr td:nth-child(10) {
    overflow: visible;
    width: 8%;
}
.adminPage-group-table tr th:nth-child(10) {
    width: 8%;
}

.adminPage-group-table tr td:nth-child(11) {
    overflow: visible;
    // width: 4%;
}

.adminPage-group-table tr td:nth-child(11) {
    // width: 6%;
}

.adminPage-group-table tr td:nth-child(12) {
    width: 8%;
    overflow: visible;

}
.adminPage-group-table tr th:nth-child(12) {
    width: 8%;
}

.adminPage-group-table {
    &.active {
        border: 1px solid #2ca62c;
        background: rgba(80, 217, 23, 0.27);
    }
}

.task-group-accordion-title{
    float: left;
}

.get-all-unpaid{
    float: right;
}
.clear{
    clear: both;
}
.tbody-scroll{
    overflow-y: overlay;
    max-height: 720px;
}
.invoiceRow{
    input {
        border: none;
        height: 20px;
        width: 80%;
        outline: 0;
        text-align: center;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 88%;
    }
    input:focus {
        border-bottom: 2px solid;
        border-color: rgb(0, 149, 255);
    }
}
