.view-customer-configuration {
    padding: 50px 105px 61px 83px;
    border: 1px solid #413f3fb8;
    .data-container {
        border: 1px #7b838b7a solid;
        padding: 2%;
        .data-title {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }
        .customer-form-container {
            .title-row{
                text-align: center;
                font-size: 16px;
                font-weight: 800;
            }
            .form-container{
                margin-left: 15%;
                margin-right: 15%;
                background: #f3f4f5;
                border: 1px solid #eddfdf;
                lable {
                    font-weight: 600;
                }
            }
        }
        .customer-table-container {
            padding-top: 2%;
        }
    }
    .radio-button-container {
        padding-bottom: 3%;
        align-content: center;
        text-align: -webkit-center;
        display: flex;
        .span-lable {
            font-size: 16px;
            color: black;
            font-weight: 700;
        }
        .radio-container {
            padding-left: 2%;
            padding-right: 2%;
            position: static;
        }
        .span-lable-active {
            font-size: 16px;
            padding-left: 11px;
            color: #4183c4;
            font-weight: 700;
        }
    }
    .image-container {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        .image-section {
            margin: 23px;
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            img {
                height: 200px;
                width: 360px;
            }
            input {
                margin: 20px 0;
                align-items: left;
            }
        }
        .divider {
            border-left: 1px solid #d1c8d0bb;
        }
    }
    .upload-button-wrapper {
        text-align: center;
        margin-bottom: 20px;
        .error {
            color: #ad0a0a;
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
}
