
.draggableRow {
    height: 36px;
    cursor: pointer;
    .messagePending {
        position: relative;
    }
    .messagePendingLabel {
        position: absolute;
        left: -12px;
        top: 0;
    }
    input {
        border: none;
        height: 20px;
        width: 80%;
        outline: 0;
        text-align: center;
        cursor: pointer;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 88%;
    }
    input:focus {
        border-bottom: 2px solid;
        border-color: rgb(0, 149, 255);
    }

    .past-date div div input{
        background-color: rgb(255, 0, 0) !important;
        height: 60% !important;
        color: rgb(255, 255,255) !important;
    }
}

.draggableRow > td > input:disabled {
    background-color: #fff;
}

.dropdown.text:first-child{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 75%;
}

.scopeRow{
    display: inline-block;
}

.draggableRow td {
    text-align: center;
    max-width: 75px;
    min-width: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
}

.draggableRow td:nth-child(1) {
    width: 2%;
}

.draggableRow td:nth-child(2) {
    width: 6%;
}

.draggableRow td:nth-child(3) {
    padding-left: 14px !important;
    width: 11%;
}

.draggableRow td:nth-child(4) {
    width: 4%;
    padding-right: 0;
}

.draggableRow td:nth-child(5) {
    width: 15%;
}

.draggableRow td:nth-child(5) {
    input {
        width: 100px !important;
    }
}

.draggableRow td:nth-child(6) {
    width: 2%;
    overflow: visible;
}

.draggableRow td:nth-child(7) {
    width: 9%;
}

.draggableRow td:nth-child(7) {
    input {
        width: 100px !important;
    }
}

.draggableRow td:nth-child(8) {
    width: 7%;
}

.draggableRow td:nth-child(9) {
    width: 3%;
}

.draggableRow td:nth-child(10) {
    width: 7%;
}

.draggableRow td:nth-child(11) {
    width: 6%;
}

.draggableRow td:nth-child(12) {
    width: 4%;
}

.draggableRow td:nth-child(13) {
    width: 3%;
}

.draggableRow td:nth-child(14) {
    width: 3%;
}

.draggableRow td:nth-child(15) {
    width: 2%;
}
.draggableRow td:nth-child(16) {
    width: 2%;
}
.draggableRow td:nth-child(17) {
    width: 2%;
}
.draggableRow td:nth-child(18) {
    width: 2%;
}


.scroll-y > .menu.transition.visible {
    height: 200px;
    overflow-y: scroll;
}

@media only screen and (min-width: 1320px) {
    .draggableRow td:nth-child(5) {
        input {
            width: 160px !important;
        }
    }
    .draggableRow td:nth-child(6) {
        input {
            width: 128px !important;
        }
    }
}

@media only screen and (min-width: 1500px) {
    .draggableRow td:nth-child(5) {
        input {
            width: 250px !important;
        }
    }

    .draggableRow td:nth-child(7) {
        input {
            width: 130px !important;
        }
    }
}
