.hourTrackerView {
        border: none;
        height: 15px;
        width: 50px;
        outline: 0;
        text-align: center;
        cursor: pointer;
        text-overflow: ellipsis;
    }

.hourTrackerView:focus {
    border-bottom: 2px solid;
    border-color: rgb(0, 149, 255);
}

.hourTrackerView > :first-child {
    font-size: 14px !important;
    width: 62px !important;
    height: 37px !important;
    cursor: pointer !important;
}

.hourTrackerNote {
    border: none;
    height: 18px;
    width: 100%;
    outline: 0;
    text-align: center;
    cursor: pointer;
    text-overflow: ellipsis;
    padding: 0 10px;
}

.ui.disabled.dropdown, .ui.dropdown .menu>.disabled.item{
    opacity: 1 !important;
}

.ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled{
    opacity: 1 !important;
}

.ui.form .field.disabled label{
    opacity: 1 !important;
}

.hourTrackerNote:focus {
border-bottom: 2px solid;
border-color: rgb(0, 149, 255);
}

.hourTrackerNote > :first-child {
font-size: 14px !important;
width: 62px !important;
height: 37px !important;
cursor: pointer !important;
padding-bottom: 2px !important;
}

.hourTrackerNotes {
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 5px;
}

.borderBottom {
    border-bottom: 0.5px groove;
}
