.total-hours {
    align-content: flex-end;
    text-align: right;
    padding-right: 82px;
    font-size: 15px;
    font-weight: 600
}

.header-date {
    font-weight: 600;
    padding-bottom: 10px;
    font-size: 15px;
}

.save-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right-child {
        display: flex;
        align-items: center;
        .save-button {
            margin-right: 60px;
        }
    }
    .left-child {
        padding-left: 5px
    }
}

.date-picker {
    font-size: 15px;
    font-weight: 600;
    display: flex;
}

.timePicker {
    color: #000 !important;
    width: 100% !important;
    font-size: 14px !important;
    height: 25px !important;
    cursor: pointer !important;
}

.disable-input {
    color: #000 !important;
    width: 100% !important;
    font-size: 14px !important;
    height: 25px !important;
    input {
        color: #000 !important;
    }
}
.ui.table tr.positive {
    box-shadow: 0 0 0 #A3C293 inset; // background: #3b3a3e !important;
    // color: #ffffff!important;
    font-weight: 700;
    font-size: 14px;
}

.ui.table tr.negative {
    // background: #000000!important;
    color: #79380e !important;
    font-weight: 900;
    font-size: 16px;
}

.one-day {
    width: 1030px !important;
    margin: -159px 0 0 -519px !important;
}
.time-in-container {
    display: flex;
    margin-top: -5px;
    justify-content: space-between;
    .lable {
        font-size: 16px;
        font-weight: 600;
        padding-top: 5px;
        padding-bottom: 3px;
    }
}

.day-view-total-container {
    padding: 9px 1px 10px 1px;
    background-color: azure;
    border-bottom: 1px solid #b9b2b2;
}
.timesheet-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: -6px;
    padding: 0 6px 8px 14px;
    border-radius: 8px;
    .data-container {
        .time-picker {
            width: 140px;
            .ant-time-picker-icon {
                right: -9px;
            }
        }

        display: flex;
        justify-content: space-around;
        width: 168px;
    }
    .lable {
        font-size: 14px;
        font-weight: 600;
        padding-top: 7px;
        width: 150px;
    }
}
.time-in-out-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: -6px;
    background: #f9fafb;
    padding: 0 6px 8px 14px;
    border: 1px solid #d6d3d3c2;
    border-radius: 8px;
    .data-container {    
        display: flex;
        justify-content: normal;
        width: 175px;
        margin-right: 0;
    }
    .lable {
        font-size: 14px;
        font-weight: 600;
        padding-top: 7px;
        width: 245px;
        text-align: right;
    }
}
.time-picker    {
    width: 100%;
    cursor: pointer !important;
    .ant-time-picker-input {
        border: none;
        color: rgb(0, 0, 0);
        background-color: inherit;
        background-image: none;
        text-align: -webkit-center;
        text-align: center;
        cursor: pointer;
    }
    .ant-time-picker-icon{
        right: -4px;
    }
}
.time-picker-oneday {
    background-color: inherit;
    width: 327px;
    padding-top: 2px;
    text-align: left;
    .ant-time-picker-input {
        background-color: inherit;
        border: none;
        background-image: none;
        cursor: pointer;
    }
    .ant-time-picker-icon {
        display: none;
    }
}


.timeIn-container {
    display: flex;
    margin-top: 10px;
    width: 210px;
    background: #f9fafb;
    border: 1px solid #efe6e6e0;
    border-radius: 9px;
    padding: 1px 11px 6px 11px;
    .time-in-time {
        width: 169%;
        background: inherit;
        .ant-time-picker-input {
            background-color: inherit;
            background-image: none;
            columns: #000;
            cursor: pointer;
            border: none;
        }
        .ant-time-picker-icon {
            display: none;
        }
    }
    .data-container {
        display: flex;
        justify-content: space-around;
        width: 168px;
    }
    .lable {
        font-size: 14px;
        font-weight: 600;
        padding-top: 7px;
        width: 285px;
    }
}
.informatic-container {
    display: flex;
    justify-content: flex-end;
    span {
        padding: 5px;
        border: 1px solid #dad5d5;
        border-radius: 66px;
        height: 20px;
        margin-left: 4px;
        width: 20px
    }
}

@media screen and (max-width: 1366px) {
    .pay-day-content {
        height: 509px !important;
    }
    .pay-day-modal-wrap {
        height: 476px !important;
    }
}

.overflow-hidden {
    width: 136px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.overflow-notes {
    width: 147px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.scope {
    width: 35px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.one-day-hours {
    text-align: center;
}

#select-date-oneday {
    cursor: pointer !important;
}

.ui.transparent.one-day-hours.input input {
    text-align: center !important;
    width: 71px;
    cursor: pointer;
}

.ui.transparent.one-day-note.input input {
    text-align: center !important;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1920px) {
    .pay-day-content {
        height: 787px !important;
    }
    .pay-day-modal-wrap {
        height: 754px !important;
    }
}

.pay-day-content {
    max-height: 79vh !important;
    min-height: 60vh !important;
    .description {
        height: 100%;
    }
}

.pay-day-modal-wrap {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 74vh !important;
    min-height: 60vh !important; // height: 737px;
    padding: 8px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #FFF;

    .note-container{
        padding-top: 1%;
    }
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f500;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #a9a6a6;
}
