.project-report-container {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 2%;
    padding-right: 2%;

    table {
        margin: 20px;
        thead {
            width: 100%;
            display: table;
            tr {
                th {
                    width: 6%;
                }
            }
        }
        tbody {
            overflow-y: overlay;
            height: 300px;
            display: block;
            tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
        }
    }
}
