.view-report-container {
    .header {
        // padding: 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .filter {
            float: left;
            display: flex;
            .custom-dropdown {
                // margin: 16px 28px;
            }
        }
        .report-title {
            font-size: 16px;
            padding: 18px 2px 0 31px;
            font-weight: 600;
            width: 100%;
        }
        .timestamp {
            // float: right;
            // margin: 0px 30px;
            display: flex;
            // padding-right: 32px;
            font-size: 14px;
            // margin-top: 22px;
            // align-items: center;
            span {
                margin-right: 10px;
                color: #21a6e7;
            }
            button {
                margin-right: 60px;
            }
        }
    }
    .report-table {
        // padding-bottom: 26px;
        // padding-left: 18px;
        // padding-right: 54px; // .ui.fixed.table.td {
        //     padding: 4px 20px;
        // }
        table {
            // margin: 20px;
            thead {
                // width: 100%;
                // display: table;
                tr {
                    th {
                        // width: 6%;
                        &:first-child {
                            width: 10%;
                        }
                    }
                }
            }
            tbody {
                // display: block;
                tr {
                    td {
                        padding: 12px 20px !important;
                    }
                    td:first-child {
                        width: 10%;
                        font-weight: 600;
                    }
                }
                .dimmer {
                    position: relative;
                    height: 108px;
                    z-index: 0;
                    width: 173vh;
                }
                .error {
                    position: static;
                    height: 108px;
                    z-index: 0;
                    color: #a10000;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    width: 173vh;
                }
                // tr {
                    // display: table;
                    // width: 100%;
                    // table-layout: fixed;
                // }
            }
        }
    }
    .limit-width {
        // padding-bottom: 26px;
        // padding-left: 18px;
        // padding-right: 54px; // .ui.fixed.table.td {
        //     padding: 4px 20px;
        // }
        table {
            tbody {
                tr {
                    td {
                        padding: 12px 20px !important;
                    }
                    td:first-child {
                        width: 10%;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
