.s-table-container {
    
}
.s-hourtracker{
    border: none;
    height: 15px;
    width: 50px;
    outline: 0;
    text-align: center;
    cursor: pointer;
    text-overflow: ellipsis;
}
.s-hourtracker > :first-child {
    font-size: 14px !important;
    width: 77px !important;
    height: 37px !important;
    cursor: pointer !important;
}

.no-records-available{
    text-align: center !important;
    color: #535455 !important;
    letter-spacing: 2px;
}
hr{
    border-bottom: none !important;
}
