.add-task-wrapper {
    padding: 20px;
    overflow-y: auto;
}

.category-wrap {
    max-width: 100%;
    .add {
        margin-top: 10px;
        margin-bottom: 10px;
        -webkit-transition: color 200ms ease;
        transition: color 200ms ease;
        font-family: Fontawesome, sans-serif;
        color: #db266b;
        font-size: 22px;
        line-height: 30px;
        text-decoration: none;
        &:hover {
            color: #b81f59;
        }
        &.add-category {
            margin-top: 12px;
            margin-right: 18px;
            float: right;
        }
    }
}

.task-header-label {
    font-weight: 700;

    /* margin-bottom: 10px;
    margin-top: 10px; */
}

.task-label {
    font-weight: normal;
    padding: 15px;
}

.task-label {
    &.active {
        font-weight: bold;
        border: 1px solid #2ca62c;
        background: rgba(80, 217, 23, 0.27);
    }
}

.delete-task-group {
    font-size: 18px;
    line-height: 10px;
    color: #d9534f !important;
    display: block;
    text-align: right;
    margin-left: 8px;
}

.table-profile-wrap {
    position: relative;
    z-index: 2;
    width: 48px;
    margin-top: 56px;
    float: left;
    background-color: #fff;
}

.table-dropdown.z-td-2 {
    z-index: 2;
}

.table-dropdown.z-td-1 {
    z-index: 1;
}

.table-toggle-dropdown {
    padding: 0;
}

.table-avatar {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin: 5px 4px;
    color: #fff;
}

.caret-icon {
    position: absolute;
    right: 5px;
    bottom: 0;
    display: none;
    font-family: Fontawesome, sans-serif;
    line-height: 14px;
    text-shadow: 1px 1px 0 #000;
}

.dropdown-list.table-dropdown-list.w--open {
    top: 44px;
}

.team-avatar-dropdown-link {
    padding: 6px 10px;
    font-size: 12px;
    line-height: 12px;
}

.team-avatar-dropdown-link:hover {
    background-color: #db266b;
    color: #fff;
}

.table-wrap {
    position: relative;
    display: inline-block;
    width: 100%;
}

.table-embed {
    width: 100%;
    float: left;
    background-color: #fff;
}

.fatable {
    font-family: Fontawesome, sans-serif;
}

.add-wrap {
    margin-top: 4px;
    margin-left: 8px;
}

.task-group-accordion-title {
    float: left;
}

.task-group-content {
    padding-top: 0 !important;
}

.add-task-group {
    float: right;
    margin-top: 1%;
}

.clear {
    clear: both;
}

.task-header-section {
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    background-color: #f2f2f2;
}

.task-group-table {
    border-collapse: collapse;
    width: 100%;
    tbody {
        overflow-y: overlay;
    }
}

.task-group-table tr {
    height: 36px;
    cursor: pointer;
}

.task-group-table tr th {
    text-align: center;
    padding: 2px;
    background-color: #000;
    color: #fff;
    height: 36px;
    max-width: 75px;
}

// .task-group-table tr td {
//     border: 1px solid grey;
// }

// .task-group-table tr td {
//     text-align: center;
//     max-width: 65px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     border-bottom: 1px solid #ddd;
// }
.task-group-table tr td:nth-child(1) {
    overflow: visible;
}

.task-group-table tr td:nth-child(2) {
    overflow: visible;
}

.task-group-table tr td:nth-child(5) {
    overflow: visible;
}

.task-group-table tr td:nth-child(10) {
    overflow: visible;
    width: 7%;
}

.task-group-table tr td:nth-child(8) {
    overflow: visible;
    width: 7%;
}

.task-group-table tr th:nth-child(1) {
    width: 2%;
}

.task-group-table tr th:nth-child(2) {
    width: 6%;
}

.task-group-table tr th:nth-child(3) {
    width: 11%;
}

.task-group-table tr th:nth-child(4) {
    width: 4%;
    padding-right: 0;
}

.task-group-table tr th:nth-child(5) {
    width: 15%;
}

.task-group-table tr th:nth-child(6) {
    width: 2%;
}

.task-group-table tr th:nth-child(7) {
    width: 9%;
}

.task-group-table tr th:nth-child(8) {
    width: 7%;
}

.task-group-table tr th:nth-child(9) {
    width: 3%;
}

.task-group-table tr th:nth-child(10) {
    width: 7%;
}

.task-group-table tr th:nth-child(11) {
    width: 7%;
}

.task-group-table tr th:nth-child(12) {
    width: 4%;
}

.task-group-table tr th:nth-child(13) {
    width: 3%;
}

.task-group-table tr th:nth-child(14) {
    width: 3%;
}

.task-group-table tr th:nth-child(15) {
    width: 2%;
}

.task-group-table tr th:nth-child(16) {
    width: 2%;
}

.task-group-table tr th:nth-child(17) {
    width: 2%;
}

.task-group-table tr th:nth-child(18) {
    width: 3%;
}


.task-group-table tr td:nth-child(1) {
    width: 2%;
}

.task-group-table tr td:nth-child(2) {
    width: 6%;
}

.task-group-table tr td:nth-child(3) {
    width: 11%;
}

.task-group-table tr td:nth-child(4) {
    width: 4%;
    padding-right: 0;
}

.task-group-table tr td:nth-child(5) {
    width: 15%;
}

.task-group-table tr td:nth-child(6) {
    width: 2%;
}

.task-group-table tr td:nth-child(7) {
    width: 9%;
}

.task-group-table tr td:nth-child(8) {
    width: 7%;
}

.task-group-table tr td:nth-child(9) {
    width: 3%;
}

.task-group-table tr td:nth-child(10) {
    width: 7%;
}

.task-group-table tr td:nth-child(11) {
    width: 7%;
}

.task-group-table tr td:nth-child(12) {
    width: 4%;
}

.task-group-table tr td:nth-child(13) {
    width: 3%;
}

.task-group-table tr td:nth-child(14) {
    width: 3%;
}

.task-group-table tr td:nth-child(15) {
    width: 2%;
}

.task-group-table tr td:nth-child(16) {
    width: 2%;
}

.task-group-table tr td:nth-child(17) {
    width: 2%;
}

.task-group-table tr td:nth-child(18) {
    width: 3%;
}

.task-group-table {
    &.active {
        border: 1px solid #2ca62c;
        background: rgba(80, 217, 23, 0.27);
    }
}

.task-group-accordion-title {
    float: left;
}

.scope-table tbody {
    display: block;
    max-height: 708px;
    // overflow-y: scroll;
}
.scope-table {
    thead {
        background: #000;
    }
    tr {
        width: calc(100% - 5px);
    }

}

.scope-table thead tr {
    display: table;
    table-layout: fixed;
}

.scope-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.add-task-group {
    float: left;
    margin-top: 2px;
    margin-right: 10px;
}

.clear {
    clear: both;
}

@media only screen and (max-width: 1320px) {
    .task-group-table tr th:nth-child(2) {
        width: 6%;
    }
}
