.team-avatar-group-box {
    min-height: 20px;
    .team-header-label {
        margin-right: 5px;
        margin-left: 3px;
        .group-header-title {
            margin-left: 5px;
        }
        &.group-title-color {
            color: #fff;
        }
        &.status-bar {
            border-bottom: 2px solid #000;
            border-bottom-color: #07add7;
        }

        margin-bottom: 6px;
        font-weight: 700;
    }
}
