.timesheet-search-wrapper {
  float: right;
  display: inline-block;
  margin-left: 10px;
  .add-new-timesheet {
    font-size: 25px;
    margin-left: 10px;
  }
  .add-multiple-entries {
    font-size: 25px;
    margin-left: 10px;
  }
}

.total{
  font-weight: bold;
  padding-top: 5px;
  padding-left: 0 !important;
  margin-top: 10px;
}
.total.month{
  float: left;
  margin-left: 10.5%;
}
.total.hours{
  float: right;
  margin-right: 13.5%;
}

.client {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bulk-hourTracker-error-wrapper {
  margin-bottom: 10px;
}

.add-hourtracker-row {
  font-size: 25px;
}

.flex {
  display: flex;
}

.flex .fa.add-hourtracker-row {
  align-self: center;
}

.flex .fa.delete-hourtracker-row {
  align-self: center;
}

.fields.hourTrackerRow{
  margin: 0 0 5px !important;
}

.hourTrackerRow .hourTrackerRow {
  margin: 0 !important;
  padding: 0;
  align-self: center;
}

.hourTrackerRow .field .ui.checkbox{
  margin-bottom: 0 !important;
}

.hourTrackerRow > .field {
  align-self: center;
}

.delete-hourtracker-row {
  font-size: 25px;
  margin-left: 5px;
}

.tasklist > div > div.menu.transition.visible{
  max-height: 150px !important;
}

#editNoteInput{
  display: none;
}

.clear{
  clear: both;
}
