.profile-wrap {
    display: flex;
    width: 320px;
    height: 100%;
    float: right;

    .profile {
        position: relative;
        width: 24%;
        height: 100%;
        margin-right: 10px;
        float: left;
        cursor: pointer;
        margin-top: 5px;
    }

    .profile-data-wrap {
        display: inline-block;
        width: 66%;
        margin-top: 5px;
        font-size: 10px;
        line-height: 13px;
        font-weight: 700;
        text-transform: uppercase;

        .profile-text {
            display: inline-block;
            margin-right: 10px;
            font-size: 10px;
            font-weight: 800;
            &.light {
                font-weight: 600;
            }
        }

        .profile-dropdown {
            margin-right: 6px;
            border-bottom: 2px solid #07add7;
            line-height: 14px;
            z-index: 0;

            &.profile-dropdown-zindex {
                z-index: 921;
                overflow: visible;
            }

            .profile-dropdown-toggle {
                padding: 0 4px 0 0;

                .timePicker-bottom hr {
                    display: none;
                }
            }

            .profile-dropdown-list.w--open {
                background-color: #fff;
                box-shadow: 2px 2px 5px 0 hsla(0, 0%, 57%, 0.75);
                font-size: 14px;
                line-height: 20px;
                font-weight: 400;
                letter-spacing: 0;
                text-transform: none;
            }
        }
    }
}
@media (max-width: 767px) {
    .sub-nav {
        height: auto;
        padding-right: 10px;
        padding-left: 20px;
    }

    .nav-dropdown-wrap {
        margin-left: 38px;
    }

    .profile-wrap {
        position: absolute;
        top: 0;
        right: 0;
        height: 9.5%
    }
}

#box-locations .dropdown-link {
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    border-radius: 0;
}
