.upload-picture {
    width: 80%;
    display: inline-block;
}

.preview-picture {
    width: 600px;
}

.img-preview {
    width: 600px;
}

.preview-link{
    width: 70px;
    margin-left: 10px;
    cursor: pointer;
}
