.milestone-form-container {
    .scope-options-container {
        margin-top: 3%;
        padding-top: 2%;
        border-top: 1px solid #dbdbea;
        .label{
            font-size: 16px;
            font-weight: bold;
            sup {
                color: #de3939;
                font-size: 14px;
            }
        }
        .scope-list-container {
            padding: 15px 0 0 20px;
            border: 1px solid #cdcdd6;
            // text-align: center;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            max-height: 282px;
            min-height: 100px;
            .ant-checkbox-wrapper{
                display: -webkit-box;
                display: table-cell;
            }
        }
        .scope-options {
            padding-top: 4px;
        }
        .no-scope-message {
            text-align: center;
            color: #be5656;
        }
    }
    .csa-form-container {
        padding-top: 2%;
    }
    .scopes-archived {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 15px;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        span {
            border: 1px solid transparent;
            border-color: #d9d9d9;
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
            border-radius: 4px;
            padding: 5px 15px;
        }
    }
}
