.loginDiv {
    // position: absolute;
    // width: 100%;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 30%;
    margin: 10% auto;
    h2 {
        text-align: center;
        margin-bottom: 30px !important;
    }
}
