.container {
    position: relative;
    margin-bottom: 10px;
    padding: 40px 60px;
    background-color: #fff;

    &.w-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;

        .ui.steps {
            display: flex;
        }
    }

    td {
        max-width: 98px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    td:hover {
        text-overflow: clip;
        white-space: normal;
        word-break: break-all;
    }

    .userData{
        max-width: 110px !important;
    }
    
    .user-availability {
        width: 100%;
        input{
            display: inline-block;
            border: none;
            border-bottom: 1px solid #bababa;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }
}

