.title-border-bottom {
    color: rgba(0, 0, 0, 0.79); border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
.icon-large {
    font-size: 22px;
}
.color-warning {
    color: #FF9100;
}

.project-wrapper {
    padding: 24px !important;
    border-radius: 4px;
}
