.float-right {
    float: 'right';
}
.margin-right-5 {
    margin-right: 5px
}
.margin-left-5 {
    margin-left: 5px
}
.error-text{
    color: #f5222d;
}
.error-container{
    padding: 4px 11px;
    width: 100%;
    border: 1px solid #f5222d;
    border-radius: 4px;
}
.square-bullets {
    list-style-type: square;
}
