.sub-nav {
    height: 60px;
    padding-top: 12px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #000;
    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

// notification message on error popup
.graytext {
    margin-top: 50px;
    color: #aaa;
}

// 
@media (max-width: 767px) {
    .sub-nav {
        height: auto;
        padding-right: 10px;
        padding-left: 20px;
    }
    .nav-dropdown-wrap {
        margin-left: 38px;
    }
    .profile-wrap {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.results.transition.visible {
    display: flex !important;
    flex-direction: column;
}

.ui.category.search>.results .category .result {
    padding: 1.857143em 1.14285714em !important; 
}

.nav-dropdown-wrap {
    position: relative;
    z-index: 1000;
    display: inline-block;
    margin-left: 40px;
    .pay-day-report-button {
        background: black
    }
    .pay-day-report-button:focus {
        outline: 0
    }
}

.nav-dropdown-wrap>.nav-dropdown.w-dropdown {
    margin-right: 24px;
}

@media (max-width: 479px) {
    .nav-dropdown-toggle {
        padding-right: 20px;
    }
    .nav-dropdown-wrap {
        margin-left: 0;
    }
    .header-section,
    .header-top {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.logo-img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    width: 200px;
}

.logo-img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.nav-dropdown {
    top: 2px;
    &.right-dropdown {
        margin-top: 2px;
        float: right;
        font-size: 16px;
        z-index: 922;
        margin-right: 5px;
        margin-left: 5px;
    }
    &.search-dropdown {
        margin: 2px 10px 0 0;
        font-size: 12px;
    }
}

.search-dropdown .results {
    max-height: 500px;
    overflow-y: scroll;
}

.nav-dropdown-toggle {
    padding: 0 0 0 2px;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #fff;
    &:hover {
        opacity: 0.75;
    }
}

.dropdown-list {
    &.dropdown-list-settings {
        right: 11px;
        z-index: 922;
        &.w--open {
            left: -18px;
            top: 36px;
        }
    }
    &.w--open {
        left: 6px;
        top: 71px;
        background-color: #fff;
        box-shadow: 2px 2px 5px 0 hsla(0, 0%, 57%, 0.75);
    }
    &.dropdown-list-search.w--open {
        left: -88px;
        top: 36px;
        right: -63px;
        width: 200px;
    }
    &.table-dropdown-list.w--open {
        top: 44px;
    }
    &.right-nav-drop-list {
        top: 49px;
        &.w--open {
            left: 0;
            top: 39px;
        }
        &.rightnavdroplist.w--open {
            top: 36px;
        }
    }
    &.sort-list.w--open {
        top: 23px;
    }
}

.dropdown-link {
    padding-right: 10px;
    padding-left: 10px;
    &:hover {
        background-color: #f1f1f1;
    }
    &.dropdown-link-settings {
        text-align: center;
    }
    &.dropdown-link-search {
        border-bottom: 2px solid #333;
        &:hover {
            background-color: #fff;
        }
    }
}

.ui.modal>.content>.icon+.description,
.ui.modal>.content>.image+.description {
    width: 100%;
    text-align: center;
}

.fa {
    display: inline-block;
    font-family: Fontawesome, sans-serif;
    line-height: 18px;
    &.fa-nav-icons {
        font-size: 14px;
    }
}

@media screen and (max-width: 1366px) {
    .screen_class {
        font-size: 13px !important;
        margin-left: 10px;
    }
    .logo-img {
        width: 173px;
    }
}
