.daily-popup-container {
    .d-flex {
        display: flex;
        justify-content: space-between;
    }
    .ant-form-item {
        margin-bottom: 10px;
    }
    .dueDatePicker { 
        width: 110px;
        margin-bottom: 12px;
        .ant-calendar-picker-input {
            cursor: pointer;                
        }
        .anticon-close-circle{
            display: none
        }
    }  
    .scope-table-container {
        margin-bottom: 16px;
    }
    .ant-modal-body {
        height: 700px;
        .ag-react-container p {
            line-height: 38px;
        }
    }
}
.ant-time-picker-panel-input-wrap { 
    .ant-time-picker-panel-clear-btn{
        display: none
    }
}
.margin-top-15{
    margin-top: 15px;
}
.float-right{
    float: right;
}
.ant-time-picker-panel-inner{
    .ant-time-picker-panel-select{
        // max-height: none;
    }
}
.ant-time-picker-panel-select {
    border-left: none !important;
    max-height: unset !important;
}
.total-hours {
    align-content: flex-end;
    text-align: right;
    margin-top: 15px !important;
    padding-right: 0 !important;
    font-size: 15px;
    font-weight: 600;
}

.ant-time-picker-panel-combobox {
    height: 400px;
}

.note-section {
    margin-top: 16px;
    label {
        margin-bottom: 8px !important;
    }
}
