.team-avatar-container {
    width: 100px;
    height: 100px;
    margin-top: 6px;
    margin-right: 3px;
    position: relative;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    .selected {
        box-shadow: 0 0 1px 3px #db2828;
    }
    .img-grayscaled {
        opacity: 0.7;
        filter: grayscale(80%)
    }
    .overlay {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0000007d;
      }
      
      &:hover .img {
        opacity: 0.3;
      }
      
      &:hover .overlay {
        opacity: 1;
      }

      &:hover .bottom-wrap {
        opacity: 0;
      }

      &:hover .hours-wrap {
        opacity: 0;
      }

      .name {
        font-size: 16px;
        font-weight: 500;
      }

      .hours-wrap {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        div {
            height: 16px;
            background-color: #0000007d;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .urgent-hours {
            background-color: #07add761;
        }
    }

    .bottom-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #232222bf;
        >div {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 4px;
            height: 16px;
            i {
                .icon {
                    font-size: 1.35em;
                    display: inherit;
                }
            }
        }

        i {
            .icon {
                width: 1em;
                text-align: left;
            }
        }
    }
}
