.scope-miestone-container {
    display: flex;
    .template-header {
        font-size: 15px;
        background-color: #07ADD7;
        // background-color: #a9e6f6;
        // background-color: #4ca3bd;
        // color: #F4F4F4;
        color: #fff;
        padding: 13px;
        display: inline-block;
        text-align: right;
        font-weight: 600;
        span {
            display: inline-flex;
        }
    }
    .header {
        border: 1px solid;
        text-align: center;
        width: 10% !important;
        padding: 10px;
        .title {
            font-weight: 600;
            font-size: 17px;
            padding: 8px 0;
        }
        .note {
            margin-bottom: 8px;
        }
        .header-actions {
            margin-bottom: 12px;
            a {
                padding: 0 2px;
            }
        }
    }
    .scope_utils_wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        .scope_action {
            width: 45%;
            .fa {
                font-size: 20px;
                padding: 2px;
            }
        }
        .table-select.ant-select {
            width: 50%;
        }
    }
    .detail-container {
        margin: 3px 0;
        width: 90% !important;
        .detail-section {
            display: flex;
            .team-view {
                display: flex;
                .team {
                    width: 150px;
                    background: white;
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    height: 35px;
                    padding: 0 15px;
                    img {
                        margin: 5px 0;
                    }
                }
            }
        }
        .editable-field {
            display: flex;
            background: #F4F4F4;
            display: flex;
            justify-content: center;
            align-items: center;
            .custom-input {
                background: transparent;
                border: 0;
                border-bottom: 1px solid black;
                width: 67px;
                text-align: center;
                cursor: pointer;
            }
        }
        .invoice-section {
            display: flex;
            flex-wrap: wrap;
            &>div {
                display: flex;
            }
            .invoice-data {
                margin: 2px 0 0 0;
                .value-section {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    background: white;
                }
                .step-on-hold {
                // background-color: #FF8C00 !important;
                background-color: #f5b668 !important;
                color: #000 !important;
                }
            }
        }
    }   
}
.margin-top-10{
    margin-top: 10px !important
}
