.login__form {
    width: 30%;
    margin: 15% auto;
}
.login-form {
    background: #fff; 
    border-radius: 8px;
    box-shadow: 0 1px 3.92px 0.08px rgba(0,0,0,.15);
    .login_footer {
        span{
            &.ant-form-item-children {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
