.filter-container {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    .ant-input-group-wrapper {
        margin: 0 20px 0 0;
        width: 200px;
    }
    .ant-btn {
        margin-right: 20px;
    }
    .custom-range-picker {
        margin-right: 20px;
        width: 450px;
        .ant-calendar-picker {
            .ant-input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        .ant-input-wrapper {
            line-height: 0;
        }
    }
}
