.scope-page-container {
    .ant-collapse-content-box{
        padding: 0;
    }
    .ant-collapse-header{
        font-size: 14px;
        font-weight: 600;
        // letter-spacing: 2px;
    }
    .ag-body > .ag-body-viewport-wrapper {
        overflow-y: auto;
        max-height: 500px;
        .ag-body-viewport, .ag-layout-normal {
            
        }
    }
}
