.uninvoiced-page-container {
    // padding: 40px 25px 0px 25px;
    .ant-collapse-item {
        background: #fff;
        margin-bottom: 20px;
        padding: 12px 24px;
        border: unset;
        border-radius: 4px !important;
        box-shadow: 0 1px 3.92px 0.08px rgba(0, 0, 0, 0.15);
    } 
    .ant-collapse-content > .ant-collapse-content-box{
        padding: 0;
    }
    .collapse-header {
        font-weight: 700;
        color: #0c0c0cd9;
        .ant-collapse-header {
            letter-spacing: 2px;
        }
        .scope-table-container{
            padding: 0;
        }
    }
}
